.todo-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.todo-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-list-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-bottom: 10px;
    color: #27548A; 
}
.open-button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 50px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 25px;
}