.login-container
{
    width: 300px;
    margin: 50px auto;
    /* background-color: red; */
    /* height: 500px; */
}

/* { display: 'flex', flexDirection: 'column', gap: '10px' } */

.login-form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    cursor: pointer;
}